//-------------------------------------------------------
//- Modules :: Plugin
//-------------------------------------------------------

mixin plugins()
  script(
     src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
  )
  script(
    src='js/main.js',
    type='text/javascript'
  )    
