//-------------------------------------------------------
//- BASE :: GLOBAL
//-------------------------------------------------------

.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 3rem;
  padding-left: 3rem;
  padding-bottom: 6rem;
}

.row {
  display: flex;
  margin-right: -12px;
  margin-left: -12px;
  flex-wrap: wrap;
}

[class*="col-"] {
  padding-right: 12px;
  padding-left: 12px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
  
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.d-flex {
  display: flex;
}

a, a:hover, a:active, a:focus, button:focus, .btn:focus, .form-control:focus {
  outline: none !important;
  box-shadow: none;
}

.m-auto {
    margin: auto;
}
.fl-left {
    float: left;
}
.fl-right{
    float: right;
}

@media (max-width: 767px) {
  .container {
    .col-sm-12 {
      width: 100%;
    }
  }
}

@media (max-width: 991px) {
  .col-md-11 {
    width: 91.66%;
  }
  
  .container {
    padding-right: 12px;
    padding-left: 12px;
  }
  .row {
    margin-right: -12px;
    margin-left: -12px;
  }

  [class*="col-"] {
    padding-right: 12px;
    padding-left: 12px;
  }
}
